* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--body-color);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: var(--body-color);
  display: flex;
}
:root {
  --main-color:   #00a788;
  --main-color2:  #fd723b;
  --text-color:   #fff;
  --paragraph :   #79808a;
  --body-color:   #171918;
  --input-color:  #232625;
}
html {
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph);
  max-width: 319px;
  overflow: hidden;
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
input,
textarea {
  color: var(--text-color);
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}
.container {
  padding: 0 17px;
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/*!=================== First Page ===================*/

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 18px 4px;
  font-size: 22px;
  align-items: flex-start;
  width: fit-content;
  background: var(--input-color);
  position: relative;
}
.sideBar::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  width: 5px;
  height: 100%;
  background: var(--body-color);
}
.sideBar i, 
.sideBar .info .image {
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBar i:hover,
.sideBar .info .image:hover {
  background: #2d2d2d;
}
.sideBar .chating,
.sideBar .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.sideBar .info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.users {
  padding: 18px;
}
.users .leftHolder {
  width: 450px;
}
.users .chats {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.users .chats h3 {
  color: var(--text-color);
  font-size: 26px;
  font-weight: 400;
}
.users .chats i {
  transform: translate(-1px, 1px);
  font-size: 17px;
}
.users .search {
  color: white;
  background: var(--input-color);
  padding: 5px 14px;
  display: flex;
  align-items: center;
  gap: 14px;
  border-radius: 7px;
  margin: 12px 0px 24px;
  height: 40px;
}
.users .search i  {
  font-size: 15px;
  cursor: pointer;
}
.users .search i.xclose  {
  font-size: 20px;
  margin-left: -6px;
  display: none;
}
.users .search #searchInput {
  font-size: 18px;
  background: transparent;
  color: white;
  width: 100%;
}
.users .friends {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.users .friends .friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  border-radius: 7px;
  padding: 14px 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
  width: 465px;
}
.users .friends .friend:hover {
  background: #292929;
}
.users .friends .friend img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.users .friends .friend .holder {
  display: flex;
  gap: 12px;
}
.users .friends .friend .holder h5 {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 600;
}
.users .friends .friend .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.users .friends .friend .info h6 {
  color: #1daa61;
  font-size: 14px;
  font-weight: 400;
}
.users .friends .friend .info span {
  background: #1daa61;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  width: 20px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*!=================== Second Page ===================*/
/* topBar top */
.pageHolder {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--input-color);
  padding: 10px;
}
.topBar .user {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-left: 11px;
}
.topBar .user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.topBar .user h5 {
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}
.topBar .icons {
  font-size: 18px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
.topBar .icons i {
  background: var(--input-color);
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}
.topBar .icons i:hover {
  background: #3b3b3bab;
}

/* chatHolder middle */
.chatHolder {
  height: 88%;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chatHolder .message {
  display: flex;
  gap: 10px;
}
.chatHolder .message.right {
  flex-direction: row-reverse;
}
.chatHolder .message.right .userName {
  text-align: right;
}
.chatHolder .message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateY(3px);
}
.chatHolder .message .holder {
  background: var(--input-color);
  padding: 12px;
  border-radius: 7px;
  max-width: 50%;
}
.chatHolder .message .userName {
  color: var(--main-color);
  font-weight: 600;
}
.chatHolder .message h6 {
  font-weight: 400;
  font-size: 14px;
  overflow-wrap: anywhere;
}

/* bottomBar bottom */
.bottomBar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  background: var(--input-color);
  padding: 10px;
}
.bottomBar i {
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.bottomBar > i {
  transition: 0.3s;
}
.bottomBar i:hover {
  background: #3b3b3bab;
}
.bottomBar i.insert {
  font-size: 23px;
}
.bottomBar #mainChatInput {
  width: 91%;
  background: transparent;
  resize: none;
  height: 19px;
  margin-left: 8px;
}
.bottomBar .sendHolder {
  position: relative;
}
.bottomBar .sendHolder i.send {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
}
.bottomBar .sendHolder.active i.send{
  opacity: 1;
  z-index: 2;
}
.bottomBar .sendHolder.active i.mic{
  opacity: 0;
  z-index: -1;
}